<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
    <div id="App"></div>

    <script src="/javascripts/vendors.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
